<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>

<body>
 <center>
  <H3>To start - choose a table to visualize/modify! </H3> <br>
  <table border = 1>
     {% for one_tab in table_names %}
      <tr>
         <th> <a href={{url_for('one_table', table_name = one_tab)}}"> {{ one_tab }} </th>
      </tr>
    {% endfor %}
  </table>
 </center>
  
  
  <form action="" method = "post">
   <center>
    <H3>Next, to get your quote, please enter information below: </H3> 
    <p>Your gender <input type = "text" name = "gender" /></p>
    <p>Your age <input type="number" name="age" /> </p>
    <p>Your number of labs <input type="number" name="num_lab_procedures" /> </p>
    <p>Your number of procedures <input type="number" name="num_procedures" /> </p>
    <p>Your number of medications <input type="number" name="num_medications" /> </p>
    <p>Your number of diagnoses <input type="number" name="num_diagnoses" /> </p>
    <p>Your time in hospital <input type="number" name="time_in_hospital" /></p>
    <p> <input type = "submit" value = "Submit" ></p>
  </center>
 </form>

</body>
</html>