<!doctype html>
<center>
<H3>Visualize Table: {{table_name}} </H3>
<table border = 1>
    <thead>
      {% for col in table_columns %}
      
        <th>{{col}}</th>
      
      {% endfor %}
    </thead>
  <tbody>
    {% for row in table_content %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
               </tr>
    {% endfor %}
   </tbody>
</table>

<H3>Insert Into Table: {{table_name}} </H3>
<form action="{{ url_for('one_table_insert',table_name=table_name) }}" method="POST" name = "insert_form">
      {% for col in table_columns %}
       <input type="text" name={{col}} placeholder={{col}} class="form-control">
      {% endfor %}
     <form target="_blank" action="" method="POST">
      <center><p>
        <input onclick="window.location.href = 'http://127.0.0.1:5000/tables/{{table_name}}/insert_one_row/'" type="submit" value="Insert this row" />
      </p>
      </center>
    </form>
</form>

<H3>Update Table: {{table_name}} </H3>
<p>
  <input onclick="window.location.href = 'http://127.0.0.1:5000/tables/{{table_name}}/update/'" type="submit" value="Update" />
</p>



<H3>Delete Last Row: {{table_name}} </H3>
<p> <input onclick="window.location.href = 'http://127.0.0.1:5000/tables/{{table_name}}/delete_last_row/'" type = "submit" value = "Delete last row" ></p>
</center>
